* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* ----- HEADER -----*/
header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

.header-common{
    height: 50px;
}

.img-logo {
    width: 150px;
}

.btn {
    font-size: 25px;
}

.btn-forgot{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: auto;
}

.enlaces-navbar{
    color: #104084;
    font-weight: bold;
    position: relative;
}

.enlaces-navbar::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #104084;
    transition: width 0.3s;
}

.enlaces-navbar:hover::after{
    width: 100%;
}

.enlaces-navbar:hover{
    color: #104084;
}

.navbar {
    flex-direction: column;
}


/* ----- MAIN -----*/
main {
    padding: 50px;
    padding-top: 150px;
}

.title {
    font-size: 60px;
}

.parrafo-inicial {
    font-size: 25px;
}

.sub-parrafo {
    font-size: 30px;
}

/*FeatureCard*/
.feature-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    width: 350px;
    min-height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border: 2px #104084 solid;
}

.feature-card-header{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.feature-card-icon{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.feature-card-header h3{
    margin: 0;
    color: #104084;
}

.feature-card-body h4{
    margin: 0 0 0.5rem 0;
}

.feature-card-body p{
    margin: 0;
    font-size: 14px;
}


.circle {
    width: 150px;
    height: 150px;

}

.container3 {
    background-color: #F9F8FE;
}


.container3>p {
    font-size: 20px;
}

.registrarme {
    color: #fff;
}

.img-fluid {
    border-radius: 20px;
    width: 800px;
    margin-left: 100px;
}

/* ----- FOOTER -----*/

footer {
    background-color: #F9F8FE;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
}

.register-footer{
    background-color: #fff;
    font-size: 1.2rem;
}

/* ----- PERFIL -----*/
.titulo-perfil{
    font-weight: bold;
    margin-top: 55px;
}

.imagenPerfil{
    border-radius: 50%;
    border: 1px solid #000;
    width: 250px;
    height: 250px;
}

.cambiarFoto{
    width: 35px;
    height: 35px;
    transform: 'translate(20%, 20%)';
}

.p-info-comunidad{
    font-size: 18px;
}

.btnAñadirComunidad{
    width: 45px;
    height: 45px;
}

.btn-action{
    background: transparent;
    color: #6c757d;
    transition: all 0.2s ease;
    border: none;
} 

.btn-action:hover {
    color: #495057;
}


/*NUEVA COMUNIDAD*/
.subtitle-com{
    color: #6a6e73;
}

.parrafo-com{
    font-size: 18px;
}

.radio-custom{
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    margin-bottom: 10px;
    accent-color: grey;
}


/*FORO*/
